<section class="text-2xl md:text-3xl bg-[#EBF0F1] p-3 w-full rounded-sm py-14">
  <h1 class="mx-auto lg:w-[750px] text-center">
    Are Vision xLSTM Embedded <i>U</i>-Nets More Reliable in Medical 3D Image
    Segmentation?
  </h1>
  <div class="w-full flex justify-center">
    <a
      href="https://arxiv.org/abs/2406.16993"
      target="_blank"
      class="mx-auto my-3 text-center text-black/50 hover:text-blue-500 cursor-pointer hover:underline"
      >arXiv 2024</a
    >
  </div>
  <div class="w-full lg:w-[1050px] mx-auto bg-black/10 h-[2px] my-3"></div>
  <h4
    class="text-center flex flex-wrap gap-x-1 justify-center text-base my-2 w-full mx-auto"
  >
    <a href="https://github.com/duttapallabi2907" target="_blank" class="link"
      >Pallabi Dutta,</a
    >
    <sup>1</sup>

    <a href="https://github.com/shb2908" target="_blank" class="link"
      >Soham Bose,</a
    >
    <sup>2</sup>
    <a href="https://swalpa.github.io" target="_blank" class="link"
      >Swalpa Kumar Roy,</a
    >
    <sup>3</sup>
    <a href="https://www.isical.ac.in/~sushmita/" target="_blank" class="link"
      >Sushmita Mitra</a
    >

    <sup>1</sup>
  </h4>
  <h5 class="text-xs md:text-sm mx-auto text-center my-2 text-black/75">
    <p>
      <sup>1</sup>
      Machine Intelligence Unit, Indian Statistical Institute, Kolkata, India
    </p>
    <p>
      <sup>2</sup>
      Department of Computer Science and Engineering, Jadavpur University, Kolkata,
      India
    </p>
    <p>
      <sup>3</sup>
      Department of Computer Science and Engineering, Alipurduar Government Engineering
      and Management College, India
    </p>
  </h5>
  <div class="flex gap-x-3 justify-center text-lg my-5">
    <a
      href="https://arxiv.org/abs/2406.16993"
      target="_blank"
      class="bg-black text-white rounded-md p-1 px-3 hover:bg-slate-300 hover:text-black transition-all cursor-pointer"
      >Paper</a
    >
    <a
      href="https://github.com/duttapallabi2907/U-VixLSTM/"
      target="_blank"
      class="bg-black text-white rounded-md p-1 px-3 hover:bg-slate-300 hover:text-black transition-all cursor-pointer"
      >Code</a
    >
    <a
      href="#citation"
      class="bg-black text-white rounded-md p-1 px-3 hover:bg-slate-300 hover:text-black transition-all cursor-pointer"
      >BibTex</a
    >
  </div>
</section>
