<section class="text-2xl bg-[#EBF0F1] p-3 rounded-sm py-14">
  <h1 class="mx-auto lg:w-[750px] text-center">
    ARE VISION XLSTM EMBEDDED UNET MORE RELIABLE IN MEDICAL 3D IMAGE
    SEGMENTATION?
  </h1>
  <p class="mx-auto my-3 text-center text-black/50">Arxiv 2024</p>
  <div class="w-[1100px] mx-auto bg-black/10 h-[2px] my-3"></div>
  <div class="flex justify-center text-base my-2">
    <a href="https://github.com/duttapallabi2907" target="_blank" class="link"
      >Pallabi Dutta</a
    >, &nbsp;
    <a href="https://github.com/shb2908" target="_blank" class="link">Soham Bose</a>, &nbsp;
    <a href="https://swalpa.github.io" target="_blank" class="link">Swalpa Kumar Roy</a>,
    &nbsp;
    <a href="https://www.isical.ac.in/~sushmita/" target="_blank" class="link"
      >Sushmita Mitra</a
    >
  </div>
  <div class="flex gap-x-3 justify-center text-lg my-5">
    <a href="" target="_blank" class="bg-black text-white rounded-md p-1 px-3 hover:bg-slate-300 hover:text-black transition-all cursor-pointer"
      >Paper</a
    >
    <a
      href="https://github.com/duttapallabi2907/UVixLSTM/"
      target="_blank"
      class="bg-black text-white rounded-md p-1 px-3 hover:bg-slate-300 hover:text-black transition-all cursor-pointer">Code</a
    >
  </div>
</section>
